<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t] %highlight{%c{1}} - %msg%n"/>
        </Console>

        <RollingFile
                name="roll-by-size"
                fileName="${sys:catalina.home}/logs/arc-expenses-mails.log"
                filePattern="${sys:catalina.home}/logs/arc-expenses-mails.%i.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %p %m%n</Pattern>
            </PatternLayout>
            <DefaultRolloverStrategy max="10"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger level="INFO" name="arc.expenses.messages">
            <AppenderRef ref="roll-by-size"/>
        </Logger>
        <Logger level="INFO" name="org.springframework">
            <AppenderRef ref="roll-by-size"/>
        </Logger>
    </Loggers>
</Configuration>